/* ==========================================
   main.css
   These are the final styles for the project.
   Author:   Saddam Arbaa
   Website:  TODO
			========================================== */

/********** Base styles **********/

:root {
  --yellow: #ffee88;
  --white: #fff;
  --size: 1.5;
  --size2: 0.8rem;
  --size3: 3rem;
  --boldness: 800;
  --borderTop: 1px solid #fff;
  --borderBottom: 1px solid #fff;
}
